.contact *:focus{
    outline: none;
}
.contact{
    width:700px;
    height: auto;
    background: #F6F6F6;
    margin: 40px auto;
    padding: 10px;
}
.contact ul{
    width: 700px;
}
.contact ul li input[type=text]{
    width: 220px;
    height: 20px;
    border:1px solid #AAAAAA;
    padding:3px 8px;
    border-radius: 5px;
}
.contact ul li input:focus{
    border-color: #C00;
    padding-right: 70px;
}
.main_left{
    width: 150px;
    height: 100%;
    float:left;
    background:#c0c0c0;
    cursor:pointer;
}
.main_right{
    width: 350px;
    height: 100%;
    float:right;
    background:#c0c0c0;
    cursor:pointer;
}