<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>

<link rel="stylesheet" href="{% static "css/homepage.css" %}">
<link rel="stylesheet" href="{% static "css/video-js-7.7.3/video-js.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-3.4.1-dist/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "assets/css/amazeui.css" %}">
<script src="{% static "css/video-js-7.7.3/video.min.js" %}"></script>
<script src="{% static "bootstrap-3.4.1-dist/js/bootstrap.js" %}"></script>
<script src="{% static "lazyload-master/amazeui.lazyload.js" %}"></script>


<body>
<ul class="am-nav am-nav-pills am-nav-justify">
    <li class="am-active"><a href="#" class="am-icon-home am-icon-md">Homepage</a></li>
    <li><a href="{% url 'upload' %}" class="am-icon-cloud-upload am-icon-md">Upload</a></li>
    <li><a href="{% url 'video' %}" class="am-icon-video-camera am-icon-md">Video</a></li>
    <li><a href="{% url 'vis' %}" class="am-icon-pie-chart am-icon-md">Visualization</a></li>
</ul>
<div class="am-panel am-panel-default">
  <div class="am-panel-hd">
    <h3 class="am-panel-title">About our project</h3>
  </div>
  <div class="am-panel-bd">
    <p>Video Object Segementation Based on pixel-level annotated dataset</p>
      <p>ch3467/Chong Hu/EE</p>
      <p>yl4238/Yanlin Liu/EE</p>
      <p><span class="am-icon-github am-icon-lg"></span>   https://github.com/JackSnowWolf/video-object-segmentation-STCNN </p>
  </div>
  <table class="am-table">
    ...
  </table>
  <div class="am-panel-footer">...</div>
</div>
</body>
</html>