<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Segmentation Video</title>


</head>

<link rel="stylesheet" href="{% static "css/homepage.css" %}">
<link rel="stylesheet" href="{% static "css/video-js-7.7.3/video-js.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-3.4.1-dist/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "assets/css/amazeui.css" %}">
<script src="{% static "css/video-js-7.7.3/video.min.js" %}"></script>
<script src="{% static "bootstrap-3.4.1-dist/js/bootstrap.js" %}"></script>
<script src="{% static "lazyload-master/amazeui.lazyload.js" %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<body>
<ul class="am-nav am-nav-pills am-nav-justify">
    <li><a href="{% url 'homepage' %}" class="am-icon-home am-icon-md">Homepage</a></li>
    <li><a href="{% url 'upload' %}" class="am-icon-cloud-upload am-icon-md">Upload</a></li>
    <li class="am-active"><a href="#" class="am-icon-video-camera am-icon-md">Video</a></li>
    <li><a href="{% url 'vis' %}" class="am-icon-pie-chart am-icon-md">Visualization</a></li>
</ul>
<div class="main">
			<!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">


            <div class="row">

                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>segementation video</strong></h3>

                        </div>


                        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1024" height="768"

                              data-setup="{}">
                            <source src="{{v}}" type='video/mp4' />

                            <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                            <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track>
                        </video>


                    </div>
                </div>


                <div class="col-md-3">

                    <div class="row">
                        <div class="panel" style="background:rgba(255,000,255,0)">

                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>test</strong></h3>
                            </div>

                        <div class="panel-body">

                            <span style="font-size:18px;color:#000000"> a:  </span>
                            <button type="button" class="am-btn am-btn-primary am-active">on</button>
                            <button type="button" class="am-btn am-btn-default am-active">off</button>

                            <hr/>

                            <span style="font-size:18px;color:#000000"> b:  </span>
                            <button type="button" class="am-btn am-btn-primary am-active">running</button>
                            <button type="button" class="am-btn am-btn-default am-active">stop</button>

                             <hr/>

                            <p style="font-size:18px;color:#000000">test</p>

                            <button type="button" class="am-btn am-btn-default am-round">a</button>

                            <button type="button" class="am-btn am-btn-default am-round">b</button>

                            <button type="button" class="am-btn am-btn-default am-round">c</button>

                        </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="panel" style="background:rgba(255,000,255,0)">

                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>video information</strong></h3>
                            </div>

                        <div class="panel-body" >

                             <h3 class="panel-body"><strong>video date</strong></h3>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
</div>
</body>
</html>