# Ignore everything in this directory
*
# Except this file
!.gitignore
!.gitattributes
# model weigth example
# !blackswan.ckpt-2000.data-00000-of-00001
!blackswan/blackswan.ckpt-2000.index
!blackswan/blackswan.ckpt-2000.meta
!blackswan/checkpoint
